@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}

/* 👇 TAMBAHKAN BARIS INI (Wajib untuk Tailwind v4) */
/* Ini memaksa logika 'dark:' untuk merespon class .dark di HTML, bukan settingan sistem */
@variant dark (&:where(.dark, .dark *));

/* 👇 Atur warna background Body agar seluruh halaman berubah */
@layer base {
  body {
    /* Warna Default (Light) */
    @apply bg-white text-[#1E1E1E] transition-colors duration-300;
  }
}

/* Selector manual untuk body saat dark mode aktif */
:root.dark body {
  /* Warna Dark Mode (Gray-900) */
  @apply bg-gray-900 text-gray-100;
}
